li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.nav-item {
  padding: 5px 15px;
  border: solid black 1px;
  margin: 0 5px;
}

.mostReaded-container {
  display: flex;
}

.mostReaded-article {
  display: flex;
  align-items: center;
  width: calc(100% / 3);
  margin: 3px;
  padding: 10px;
  background-color: rgb(204, 204, 204);
}

.mostReaded-article img {
  width: 100px;
}

.mostReaded-article figure {
  margin: 0 10px 0 0;
}

.form-container {
  border: solid 1px black;
  background-color: #f1f1f1;
  padding: 15px;
}