body{
  font-family: 'Libre Baskerville', serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0d45d5;
}

.m-0{
  margin: 0
}

.bbc-logo-container{
  margin: 20px 0 5px 230px;
}

.bbc-logo{
  max-width: 100px;
}

.main-container{
  padding: 40px 230px;
}

.main-img {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 100%;
  margin: 20px 0;

}

.nav-item {
  padding: 5px 15px;
  border: solid black 1px;
  margin: 0 5px;
}

/*mostReaded*/
.mostReaded-container {
  display: flex;
}

.mostReaded-article {
  width: calc(100% / 3);
  margin: 3px;
}

.mostReaded-article img {
  width: 100%;
}

.mostReaded-article figure {
  margin: 0 10px 0 0;
}
/*mostReaded*/

.form-container {
  padding: 15px;
  color: white
}

/*section: NEWS HEADER*/
.news-header{
  background-color: #b80000;
   padding: 10px 0; 
   color: #fff; 
   margin: 0 0 10px 0;
   
}

.news-header > * {
  margin: 0 230px;
}

.news-header-list{
  padding: 0;
}

.news-header-list > li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
}

.news-header-list > li > a {
  color: white
}


/* /section: NEWS HEADER*/

.footer{
  margin: 0;
  padding: 0;
  background: rgb(34, 34, 34);
}

@media (max-width: 900px) {
  .mostReaded-article {
    width: 50%;
  }

  .bbc-logo-container, .main-container, .news-header > * {
    margin: 0 50px;
  }
}

@media (max-width: 600px) {
  .mostReaded-article {
    width: 100%;
  }
}